<div class="row text-center">
    <h2>Habilidades Blandas</h2>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-3">
        <circle-progress
                    [percent]="85"
                    [radius]="50"
                    [outerStrokeWidth]="8"
                    [innerStrokeWidth]="4"
                    [title]="'Prueba'"
                    [titleFontSize]="''"
                    [outerStrokeColor]="'violet'"
                    [innerStrokeColor]="'indigo'"
                    [animation]="true"
                    [animationDuration]="800">
                    [subtitleFontSize]="'0'"
                </circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-3">
        <circle-progress
                    [percent]="85"
                    [radius]="50"
                    [outerStrokeWidth]="8"
                    [innerStrokeWidth]="4"
                    [title]="'Prueba'"
                    [titleFontSize]="''"
                    [outerStrokeColor]="'violet'"
                    [innerStrokeColor]="'indigo'"
                    [animation]="true"
                    [animationDuration]="800">
                    [subtitleFontSize]="'0'"
                </circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-3">
        <circle-progress
                    [percent]="85"
                    [radius]="50"
                    [outerStrokeWidth]="8"
                    [innerStrokeWidth]="4"
                    [title]="'Prueba'"
                    [titleFontSize]="''"
                    [outerStrokeColor]="'violet'"
                    [innerStrokeColor]="'indigo'"
                    [animation]="true"
                    [animationDuration]="800">
                    [subtitleFontSize]="'0'"
                </circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-3">
        <circle-progress
                    [percent]="85"
                    [radius]="50"
                    [outerStrokeWidth]="8"
                    [innerStrokeWidth]="4"
                    [title]="'Prueba'"
                    [titleFontSize]="''"
                    [outerStrokeColor]="'violet'"
                    [innerStrokeColor]="'indigo'"
                    [animation]="true"
                    [animationDuration]="800">
                    [subtitleFontSize]="'0'"
                </circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-3">
        <circle-progress
                    [percent]="85"
                    [radius]="50"
                    [outerStrokeWidth]="8"
                    [innerStrokeWidth]="4"
                    [title]="'Prueba'"
                    [titleFontSize]="''"
                    [outerStrokeColor]="'violet'"
                    [innerStrokeColor]="'indigo'"
                    [animation]="true"
                    [animationDuration]="800">
                    [subtitleFontSize]="'0'"
                </circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-3">
        <circle-progress
                    [percent]="85"
                    [radius]="50"
                    [outerStrokeWidth]="8"
                    [innerStrokeWidth]="4"
                    [title]="'Prueba'"
                    [titleFontSize]="''"
                    [outerStrokeColor]="'violet'"
                    [innerStrokeColor]="'indigo'"
                    [animation]="true"
                    [animationDuration]="800">
                    [subtitleFontSize]="'0'"
                </circle-progress>
    </div>
    <h2>Habilidades Duras</h2>
</div>