<div class="container py-3">
    <div class="row">
        <h2 class="text-center fst-italic">Educación</h2>
        <ul class="list-unstyled">
            <li>
                <h3 class="d-inline px-2">Curso 1</h3>
                <h4 class="d-inline px-2">Periodo</h4>
                <p class="fst-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, aliquid eius quidem
                itaque cum deserunt quae quasi accusamus voluptatem ullam vero beatae voluptas quas error nam iusto
                ab ipsa adipisci.
                </p>
            </li>
            <li>
                <h3 class="d-inline px-2">Curso 2</h3>
                <h4 class="d-inline px-2">Periodo</h4>
                <p class="fst-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, aliquid eius quidem
                itaque cum deserunt quae quasi accusamus voluptatem ullam vero beatae voluptas quas error nam iusto
                ab ipsa adipisci.
                </p>
            </li>
            <li>
                <h3 class="d-inline px-2">Curso 3</h3>
                <h4 class="d-inline px-2">Periodo</h4>
                <p class="fst-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, aliquid eius quidem
                itaque cum deserunt quae quasi accusamus voluptatem ullam vero beatae voluptas quas error nam iusto
                ab ipsa adipisci.
                </p>
            </li>
            <li>
                <h3 class="d-inline px-2">Curso 4</h3>
                <h4 class="d-inline px-2">Periodo</h4>
                <p class="fst-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, aliquid eius quidem
                itaque cum deserunt quae quasi accusamus voluptatem ullam vero beatae voluptas quas error nam iusto
                ab ipsa adipisci.
                </p>
            </li>
        </ul>
    </div>
</div>
