<nav class="navbar navbar-light bg-info">
  <div class="container-fluid">
    <div class="d-flex">
      <img src="assets/APLogo-20-20.png" alt="logo argentina programa" width="85px" height="70px" class="ms-3 me-4">
      <p class="text-dark fs-5 fw-bold pt-3">Argentina Programa #YoProgramo</p>
    </div>
    <div class="row">
      <ul class="nav">
        <li class="pe-1"><a href="https://github.com/V3nd3" target="_blank" rel="noopener noreferrer nofollow"><img
            src="assets/github.svg" alt="github" height="35px"></a></li>
        <li class="pe-1"><a href="https://www.linkedin.com/in/cesar-gustavo-enrriquez-19b614243/" target="_blank"
            rel="noopener noreferrer nofollow"><img src="assets/linkedin.svg" alt="linkedin" height="35px"></a></li>
        <!--<li class="px-4"><a href="#"><img src="assets/twitter.svg" alt="twitter" height="35px"></a></li>
        <li class="px-4"><a href="#"><img src="assets/facebook.svg" alt="facebook" height="35px"></a></li>-->
      </ul>
    </div>
    <div class="ps-4">
      <button type="button" class="btn btn-outline-prymary btn-lg text-dark fs-5 fw-bold me-2" (click)="login()">Ingresar</button>
    </div>
  </div>
</nav>
<div>
    <img src="assets/Banner 4.jpg" alt="banner" width="100%">
</div>