<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container-fluid">
      <div class="d-flex">
        <img src="assets/APLogo-20-20.png" alt="logo argentina programa" width="75px" height="10px" class="ms-3 me-4 img-fluid">
        <p class="text-dark fs-4 pt-3">Argentina Programa #YoProgramo</p>
      </div>
      <div class="">
        <ul class="nav">
          <li class="px-4"><a href="#"><img src="assets/github.svg" alt="github"></a></li>
          <li class="px-4"><a href="#"><img src="assets/facebook.svg" alt="facebook"></a></li>
          <li class="px-4"><a href="#"><img src="assets/linkedin.svg" alt="linkedin"></a></li>
          <li class="px-4"><a href="#"><img src="assets/twitter.svg" alt="twitter"></a></li>
        </ul>
      </div>
      <div class="d-flex ps-4">
        <button type="button" class="btn btn-warning btn-lg">Ingresar</button>
      </div>
    </div>
    
  </nav>
  <div class="container-flex bg-succes">
    <img src="assets/Banner 2.jpg" alt="banner" width="100%">
  </div>
</header>